.header {
    background-color: lightgrey;
    height: 80px;
    border: blue 1px solid;
}

p {
    text-align: center;
    font-weight: 600;
    font-size: medium;
    padding: 12px;
}

.col-md-6 {
    background-color: yellow;
    border: blue 1px solid;
    height: 60px;
}

.col-md-4 {
    background-color: orange;
    border: blue 1px solid;
    height: 160px;
}

.col-md-3 {
    background-color: magenta;
    border: blue 1px solid;
    height: 60px;
}

.col-md-2 {
    background-color: lightgreen;
    border: blue 1px solid;
    height: 60px;